version: '3.3'

networks:
  graylog:
    driver: overlay
    attachable: true

volumes:
    graylog: {}
    elasticsearch: {}
    mongodb: {}

services:
  mongo:
    image: mongo:3
    volumes:
      - mongodb:/data/db
    networks:
      - graylog

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
      - "9300:9300"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M
    networks:
      - graylog

  graylog:
    image: graylog/graylog:2.4.0-1
    volumes:
      - graylog:/usr/share/graylog/data/
    environment:
      - TZ=${TZ:-America/Sao_Paulo}
      - ROOT_TIMEZONE=${ROOT_TIMEZONE:-America/Sao_Paulo}
      - GRAYLOG_PASSWORD_SECRET=${GRAYLOG_PASSWORD_SECRET:-changemegraylogadmin}
      - GRAYLOG_ROOT_PASSWORD_SHA2=${GRAYLOG_ROOT_PASSWORD_SHA2:-d1325624943c853b1ccbad17f57bd7f19fbed5dc67d3ceb50fe31f331329666a}
      - GRAYLOG_WEB_ENDPOINT_URI=${GRAYLOG_WEB:-http://127.0.0.1:9000/api}
    ports:
      - "9000:9000"
      - "12209:12209/udp"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.50'
          memory: 1024M
        reservations:
          cpus: '0.25'
          memory: 512M

    networks:
      - graylog
